<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notification Test</title>

    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.24.0/css/patternfly.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.24.0/css/patternfly-additions.min.css">
    
</head>
<body>
<div class="container">

    <h2>Ultimas notificacoes</h2>
    
    <div class="row">
   		<table id="msgs">
   			<thead>
   				<tr>
	   				<td width="50px">Protocolo</td>
	   				<td width="200px">ID Usuário</td>
	   				<td width="30px">ID Documento</td>
	   			</tr>
   			</thead>
   			<tbody id="content"></tbody>
   		</table>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    var source = new EventSource("/pae-protocolo-producer-service/protocolos/notifications");
    source.onmessage = function (event) {
    	var obj = JSON.parse(event.data);
    	
        var table = document.getElementById("msgs");
        
        if(table.rows.length > 20){
        	table.deleteRow(1);
        }
        
        table.insertRow();
        
        let idCell = table.rows[table.rows.length - 1].insertCell();
    	idCell.textContent = obj.ano + "/" + obj.numero;
    	
    	let msgCell = table.rows[table.rows.length - 1].insertCell();
    	msgCell.textContent = obj.usuarioId;
    	
    	let dataCell = table.rows[table.rows.length - 1].insertCell();
    	dataCell.textContent = obj.fileStorageId;
        
    };
    
</script>
</html>